body{
    margin: 0;
}

.wrap{
    box-sizing: border-box;
    position: relative;
    height: 90vh;
    top : 10vh;
    padding : 20px 250px 0 250px;
}
.top-bar{
    width: 100%;
    position: fixed;
    height: 10vh;
    background-color: white;
    display: flex;
    border-bottom: 1px solid darkgray;
    z-index: 9999; /* 가장 위에 위치하도록 설정 */
}
.top-title-con{
    display: flex;
    align-items: center;
    justify-content: center;
    width : 15%;
    height: 100%;
}

.top-menu-con{
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
}

.top-menu-con>span{
    font-size: 20px;
    font-weight: bold;
    margin: 0 40px;
}

.top-option-con{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.top-option-con>span{
    margin: 0 30px;
}

.top-option-con>span>img{
    width: 25px;
}

.main-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.text-box{
    background-color: #f9f9f9;
    border: solid 2px green;
    padding: 20px;
    font-size: 20px;
    margin: 0 5vh 30px 5vh;
}

.cnter-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
}

.text-bo{
    font-size: larger;
    padding: 1vh;
}

.row-box{
    display: flex;
    padding-left: 5vh;
    padding-bottom: 2vh;
}

.gender{
    font-size: large;
    padding: 1vh;
}

.row-row-box{
    display: flex;
    padding-left: 5vh;
    padding-bottom: 2vh;
}
.input_title{
    font-size: large;
    color: black;
    padding: 1vh;
}
.inner_text{
    padding-right: 2vh;
    font-size: large;
    color: black;
    padding: 1vh;
    padding-right: 2vh;
}

.final-box{
    display: flex;
    padding-left: 5vh;
    padding-bottom: 2vh;
}

.final-row-box{
    display: flex;
    padding-left: 5vh;
}
.final-row-box>button{
    font-size: larger;
}

#text1{
    margin-left: 5vh;
}

#text{
    font-size : 20px;
}

#gender{
    height: 40px;
    width: 80px;
}
