body{
    margin: 0;
}

.top-bar{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    border-bottom: 1px solid darkgray;
    z-index: 9999; /* 가장 위에 위치하도록 설정 */
}

.top-title-con{
    display: flex;
    align-items: center;
    justify-content: center;
    width : 15%;
    height: 100%;
}

.top-menu-con{
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
}

.top-menu-con>span{
    font-size: 20px;
    font-weight: bold;
    margin: 0 40px;
}

.top-option-con{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.top-option-con>span{
    margin: 0 30px;
}

.top-option-con>span>img{
    width: 25px;
}

.container{
    height: 90vh;
    background-color: #f0f0f0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    height: 600px;
    width: 640px;
    border-top: 6px solid #92D050;
    box-shadow:  8px 8px 8px #E2E2E2;

}

.text{
    color: #92D050;
    margin: 70px 0 30px 80px;
    font-size: 30px;
    font-weight: bold;
}

.signup-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    height: 540px;
    width: 360px;
    box-shadow:  8px 8px 8px #E2E2E2;
    background-image: linear-gradient( rgba(35, 61, 116, 0.178), rgba(35, 61, 116, 0.178) ), url(./img/회원가입\ 배경.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    box-shadow:  8px 8px 8px #E2E2E2;
}
.signup-box>h3{
    color: white;
}

.signup-box>button{
    background-color: #92D050;
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 90px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

input:focus {outline: none;}

.no-border{
    border-width: 0;
}

#id{
    border-bottom: 1px solid #E2E2E2;
    margin-top: 30px;
    height: 50px;
    width: 500px;

}

#pw{
    border-bottom: 1px solid #E2E2E2;
    margin-top: 30px;
    height: 50px;
    width: 500px;
}

input::placeholder {
    font-size: 16px;
    color: gray;
}

form>div{
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin-top: 70px;
    margin-left: 30PX;
}

form>div>input{
    background-color: #92D050;
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 90px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}