body{
    margin: 0;
}

table{
    border-collapse: collapse; /* 셀 경계 병합 */
}

th{
    border: 1px solid darkgray;
    height: 32px;
    background-color: #E2E2E2;
    color: gray;
}

td{
    box-sizing: border-box;
    border : 1.2px solid darkgray;
    border-collapse : collapse;
    height: 68px;
    width: 200px;
    color: gray;
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
}

.wrap{
    position: relative;
    top: 95px;
    height: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#day{
    text-align: center;
    height: 60px;
    width: 70px;
    color: gray;
}

#save-btn{
    position: fixed;
    top: 850px;
    left: 1770px;
    height: 75px;
    width: 75px;
    background-color:white;
    box-shadow:  4px 4px 4px #E2E2E2;
    border: 1px solid #E2E2E2;
    border-radius: 37.5px;
    font-size: 16px;
    font-weight: bold;
}

#save-btn:hover{
    background-color: #FFD400;
}

#save-btn:active{
    background-color: orange;
}

#addschedule-btn{
    position: fixed;
    top : 90%;
    left: 51.8%;
    transform: translate(-50%, 0);
    box-shadow:  4px 4px 4px #E2E2E2;
    border: none;
    height: 55px;
    width: 170px;
    border-radius: 30px;
    background-color: #92D050;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

#addschedule-btn:hover{
    background-color: #88c24b;
}

#input-schedule{
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    border: 1px solid #E2E2E2;
    background-color: white;
    height: 330px;
    width: 440px;
    position: fixed;
    top : 64%;
    left: 52.6%;
    transform: translate(-53%, 0);
}

/* #del-schedule{
    display: none;
    font-size: 20px;
    font-weight: bold;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 10px;
    color: red;
} */

select{
    height: 40px;
    padding: 0 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
}

#schedule-title{
    width: 350px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
}

#schedule-detail{
    vertical-align: middle;
    width: 350px;
    height: 80px;
    font-weight: bold;
    font-size: 15px;
}

#add-btn{
    height: 36px;
    width: 65px;
    color: white;
    background-color: #92D050;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

#add-btn:hover{
    background-color: #88c24b;
}

#hide-btn{
    position: fixed;
    bottom: 316px;
    left: 380px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: gray;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-radius: 25px;
}

#hide-btn:hover{
    background-color: red;
}

#schedule-text{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

textarea:focus{
    outline: none;
}

textarea{
    resize: none;
}

#title-txt{
    height: 20px;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

#detail-txt{
    width: 100%;
}

#reScheduleBtn{
    border: none;
    background-color:transparent;
    color: red;
    position: absolute;
    top: 3px;
    left: 177px;
    font-size: 15px;
}

#reScheduleBtn:hover{
    font-weight: bold;
}

.schedule{
    position: relative;
    vertical-align: top
}

.schedule:hover{
    #del-schedule{
        display: block;
    }
}